.panel.panel-default
  .panel-heading
    .panel-title Contact us
  .panel-body.contact-content
    .row
      .col-md-6
        img(ng-src="images/map.jpg")
      .col-md-6
        p
          strong Email: 
          span yhb@hyc-fiber.com
        p
          strong Tel: 
          span +86-755-26638585
        p 
          strong Office Address: 
          span Room 606, Huaqiang Business building, Shuikou Community, Gongming Str. Guangming District, Shenzhen
        p 
          strong Factory Address: 
          span 3rd floor, 4th building, Laobingtianxia industrial area, Zhoushi Rd. Shiyan Str. Baoan District, Shenzhen

