.panel.panel-default
  .panel-heading
    .panel-title About us
  .panel-body.about-content
    img(ng-src="images/about2.jpg").img-left.pull-left
    p Shenzhen YCL Telecommunication Ltd.  Is  a high-tech enterprise and specialized in research, production, marketing and service of optical communication equipments, with strong expertise in product development, production, QA and management. With wide marketing and service network all over the country, our products enjoy good market reputation from customers. We are dedicated to providing all telecommunication products for all FTTx fiber optic network construction all over the world.
    p With the rapid development of company, we have around 1000m² dust-free workshop and  80 working staffs from technical secondary school . All the 9 R&D engineering team are with bachelor degree.
    
    img(ng-src="images/about1.jpg").img-right.pull-right
    p With strong R&D engineer team and strict quality system, we are committed to put quality in the first place and control the cost. We are now mainly focus on the manufacturing of fiber optic cable, fiber optic connector, fast connector, fiber optic patch cord, MTP/MPO patch cord, PLC Splitter, fiber optic adater, fiber optic module, fiber optic converter, fiber optic cable connection cabinet, fiber optic distribution frame, terminal box, DDFunit frame and other fiber optic accessories.With strong R&D and sales team support, Our products have been widely sold and enjoyed good quality reputation from customers at various domestic and overseas exhibitions.
    p We stablished strict quality management system to realize the strict quality control from the incoming raw material to the finished products, on the basis of “Customer First, Quality-Led”.
    
    p Shen YCL Telecommunication Ltd. is determined to be the leading manufacturer and make contribution to the development of fiber optic industry, with professional service and dedicated working altitude.

    .clearfix
    .row.margin-top-lg
      .col-md-3
        img(ng-src="images/about5.jpg")
      .col-md-3
        img(ng-src="images/about3.jpg")
      .col-md-3
        img(ng-src="images/about4.jpg")
      .col-md-3
        img(ng-src="images/about6.jpg")