.about-content
  p
    text-indent 2em
    line-height 30px
  img
    border 1px solid #ddd
    padding 5px
  .img-left
    margin-right 20px
    margin-bottom 20px
  .img-right
    margin-left 20px
    margin-top 20px
    
  .row
    img
      width 100%
