.panel.panel-default
  .panel-heading
    .panel-title About us
  .panel-body.about-content
    img(ng-src="images/about2.jpg").img-left.pull-left
    p 深圳市源创力通信有限公司，是专业从事通信领域光纤传输及相关配套设备的研发、生产及销售的高新技术企业。公司拥有全套先进生产、测试设备，优秀的产品研发和工艺技术人才团队。拥有覆盖全国各地的营销和服务网络，良好的客户基础和市场信誉。立足于中国市场，面向全球，致力于提供FTTX相关的光网络建设与运用的通信产品。
    p 公司通过飞速发展，现建有无尘生产车间近1000平方米。现有员工近80人。其中从事技术研发和工艺优化的工程技术人员9人。全部拥有大学本科以上学历。在80多人的生产工人中80%达到中专以上学历。
    
    img(ng-src="images/about1.jpg").img-right.pull-right
    p 公司依托强大的生产研发能力，完善的品质控制体系，坚持产品品质优先，严格成本控制。目前，公司主要自主研发和生产的产品有光缆，光纤跳线，分路器，适配器，光模块，光纤收发器，光纤配线架，光纤分线箱，ODF，DDF单元箱，以及各种通信机柜和配件通信产品。公司依托国内外各大中型展会和强有力的销售团队与技术支持，产品销量日益增加，质量也得到了客户的一致好评。
    p 坚持“以客户需求为中心”和“以产品品质为先导”，建立了严格的质量管理体系，实现从来料到成品的全过程质量控制。
    
    p 本着专业的精神，专注的工作态度，用心工作。深圳市源创力通信有限公司立志成为光通信产品领域的领先企业，为中国光通信产业发展做出贡献！

    .clearfix
    .row.margin-top-lg
      .col-md-3
        img(ng-src="images/about5.jpg")
      .col-md-3
        img(ng-src="images/about3.jpg")
      .col-md-3
        img(ng-src="images/about4.jpg")
      .col-md-3
        img(ng-src="images/about6.jpg")