.row
  .col-md-4
    .panel.panel-primary
      .panel-heading
        .panel-title About us
      .panel-body
        p YUANCHUANGLI Communication Ltd was established in 2008 by a group of experienced fiber optic professionals with strong expertise in product development, production, QA and management. We are committed to provide reliable products with excellent specifications, quality control, reliability and low cost, and provide services in customized photonic product design, prototype, small quantity as well as mass production.
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title About us
      .panel-body
        p YUANCHUANGLI Communication Ltd was established in 2008 by a group of experienced fiber optic professionals with strong expertise in product development, production, QA and management. We are committed to provide reliable products with excellent specifications, quality control, reliability and low cost, and provide services in customized photonic product design, prototype, small quantity as well as mass production.
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Contact us
      .panel-body
        img(ng-src="images/map-sm.jpg")
        p
          strong Email: 
          span yhb@hyc-fiber.com
        p
          strong Tel: 
          span +86-755-26638585
        p 
          strong Address: 
          span 深圳市龙华大浪工业园路浦华科技园1，2，3楼
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title Series
      .panel-body
        p YUANCHUANGLI Communication Ltd was established in 2008 by a group of experienced fiber optic professionals with strong expertise in product development, production, QA and management. We are committed to provide reliable products with excellent specifications, quality control, reliability and low cost, and provide services in customized photonic product design, prototype, small quantity as well as mass production.