.row
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title About us
      .panel-body.home-content
        p Shenzhen YCL Telecommunication Ltd.  Is  a high-tech enterprise and specialized in research, production, marketing and service of optical communication equipments, with strong expertise in product development, production, QA and management.
        a(ui-sref="about") Click here to view more »
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title About us
      .panel-body.home-content
        p YUANCHUANGLI provides various fiberoptic products for telecommunication system, FTTX, CATV and so on, including active and passive components and modules which can meet or exceed Telcordia GR-1209-CORE and GR-1221-CORE reliability qualification requirement.
        a(ui-sref="productions") Click here to view all Products »
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Contact us
      .panel-body.home-content
        img(ng-src="images/map-sm.jpg").margin-bottom-lg
        p
          strong Email: 
          span yhb@hyc-fiber.com
        p
          strong Tel: 
          span +86-755-26638585
        p 
          strong Address: 
          span 深圳市龙华大浪工业园路浦华科技园1，2，3楼
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        .panel-title Series
      .panel-body
        .row
          .col-lg-2
            .item
              a(href="#/productions/connector/fc")
                img(ng-src="productions/connector/fc.jpg")
              .name
                a(ng-href="#/productions/connector/fc") fc
          .col-lg-2
            .item
              a(href="#/productions/patchCord/mu")
                img(ng-src="productions/patchCord/mu.jpg")
              .name
                a(ng-href="#/productions/patchCord/mu") mu
          .col-lg-2
            .item
              a(href="#/productions/adapter/sc")
                img(ng-src="productions/adapter/sc.jpg")
              .name
                a(ng-href="#/productions/adapter/sc") sc
          .col-lg-2
            .item
              a(href="#/productions/wdm/CWDM")
                img(ng-src="productions/wdm/CWDM.jpg")
              .name
                a(ng-href="#/productions/wdm/CWDM") CWDM
          .col-lg-2
            .item
              a(href="#/productions/OpticalTransceiver/1X9 module")
                img(ng-src="productions/OpticalTransceiver/1X9 module.jpg")
              .name
                a(ng-href="#/productions/OpticalTransceiver/1X9 module") 1X9 module
          .col-lg-2
            .item
              a(href="#/productions/wiring/Cable Splice Tray")
                img(ng-src="productions/wiring/Cable Splice Tray.jpg")
              .name
                a(ng-href="#/productions/wiring/Cable Splice Tray") Cable Splice Tray