.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        .panel-title Support
      .panel-body.support-content
        p Huashu has developed a core base of technology in both components and modules. Based on fused biconic taper technology, we are capable of producing WDM, wide band coupler, and narrow band coupler. For micro-optics technology, Huashu started from elementary parts such as single fiber/dual fiber Pigtails and Collimators. We have also successful developed Isolators, and 3-port Add/Drop Filter devices for DWDM/CWDM/OADM. Currently, we are devoting ourselves to compact sized designs, and striving to meet high-end specifications with lower cost. For module technology, we have developed N x M optical splitter modules/EDFA module/multi-channel modules for DWDM/CWDM/OADM.
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Contact us
      .panel-body.contact-content
        img(ng-src="images/map-sm.jpg")
        p
          strong Email: 
          span yhb@hyc-fiber.com
        p
          strong Tel: 
          span +86-755-26638585
        p 
          strong Address: 
          span 深圳市龙华大浪工业园路浦华科技园1，2，3楼