.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        .panel-title News
      .panel-body.news-list
        .list-group
          .list-group-item
            a(href="#").pull-left.margin-bottom-lg
              h4.list-group-item-heading News title for test
            .pull-right.text-muted
              | 2014-11-12
            .clearfix
            p.list-group-item-text
              | News content for test, News content for test, News content for test, News content for test, News content for test, News content for test, News content for test
          .list-group-item
            a(href="#").pull-left.margin-bottom-lg
              h4.list-group-item-heading News title for test
            .pull-right.text-muted
              | 2014-11-12
            .clearfix
            p.list-group-item-text
              | News content for test, News content for test, News content for test, News content for test, News content for test, News content for test, News content for test
          .list-group-item
            a(href="#").pull-left.margin-bottom-lg
              h4.list-group-item-heading News title for test
            .pull-right.text-muted
              | 2014-11-12
            .clearfix
            p.list-group-item-text
              | News content for test, News content for test, News content for test, News content for test, News content for test, News content for test, News content for test
          .list-group-item
            a(href="#").pull-left.margin-bottom-lg
              h4.list-group-item-heading News title for test
            .pull-right.text-muted
              | 2014-11-12
            .clearfix
            p.list-group-item-text
              | News content for test, News content for test, News content for test, News content for test, News content for test, News content for test, News content for test
          .list-group-item
            a(href="#").pull-left.margin-bottom-lg
              h4.list-group-item-heading News title for test
            .pull-right.text-muted
              | 2014-11-12
            .clearfix
            p.list-group-item-text
              | News content for test, News content for test, News content for test, News content for test, News content for test, News content for test, News content for test
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Contact us
      .panel-body
        img(ng-src="images/map-sm.jpg").margin-bottom-lg
        p
          strong Email: 
          span yhb@hyc-fiber.com
        p
          strong Tel: 
          span +86-755-26638585
        p 
          strong Address: 
          span 深圳市龙华大浪工业园路浦华科技园1，2，3楼