.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        .panel-title Recruitment
      .panel-body.recruitment-content
        h4 Marketing Director for 1 person
        ul
          li Master degree or above, optical or communication professional background, 5 years of optical component product marketing experience, to be forward-looking vision in optical communication technology and market development
          li Proficient in marketing basic theory, have the ability to develop an effective marketing strategy from the perspective of brand building, channel management and advertising promotions.
          li Have the ability to participate in product planning and R & D practice
          li Strong communication skills, fluent in one foreign language, work experience of overseas markets
        
        h4.margin-top-lg International Sales for 6 people
        ul
          li Bachelor degree or above, optical communication class professional background
          li More than three years of international sales experience in optical communication products
          li Have the ability to participate in product planning and R & D practice
          li Strong communication skills, fluent in one foreign language, work experience of overseas markets
        
        h4.margin-top-lg Passive optical Device engineer for 3 people
        ul
          li Bachelor degree or above, majoring in electronic, communication or optical major is preferred;
          li work experience in the optical communications industry for more than two years, a comb filter, the filter light modulator (demodulator) is related to polarization dispersion design experience
        
        h4.margin-top-lg The passive Division General Manager for 1 person
        ul
          li Master degree or above, optical or communication class professional background, experience of studying abroad or overseas well-known enterprises
          li Passive optical device technology development experience of industry well-known enterprises in more than three years, the market for more than five years of sales and marketing management experience
          li Excellent communication skills, familiar with the operation of enterprises process
  .col-md-4
    .panel.panel-default
      .panel-heading
        .panel-title Contact us
      .panel-body
        img(ng-src="images/map-sm.jpg")
        p
          strong Email: 
          span yhb@hyc-fiber.com
        p
          strong Tel: 
          span +86-755-26638585
        p 
          strong Address: 
          span 深圳市龙华大浪工业园路浦华科技园1，2，3楼