.category
  .panel-body
    padding 0
  .list-group
    margin-bottom 0
    .list-group-item
      height 37px
      line-height 37px
      padding 0 15px 0 15px
      .badge
        color #aaa
        background-color #ddd
    .list-group-item:last-child
      border-bottom-left-radius 0
      border-bottom-right-radius 0
    .list-group-item:first-child
      border-top-left-radius 0
      border-top-right-radius 0

.product-list
  .item
    margin 10px  
    width 170px
    img
      width 170px
      height 120px
      border 1px solid #eee
      padding 5px
    .name
      text-align center
