.row
  .col-md-4.category
    //- .list-group
    //-   .list-group-item.title Categories
    //-   a.list-group-item(ng-repeat="product in products" ng-click="showList($index)")
    //-     span.badge.margin-top-lg {{product.items.length}}
    //-     | {{product.category}}
    //- .list-group
    //-   .list-group-item.title Categories
    //-   a.list-group-item(ng-repeat="product in products" ng-click="showList($index)")
    //-     span.badge.margin-top-lg {{product.items.length}}
    //-     | {{product.category}}
    //- .list-group
    //-   .list-group-item.title Categories
    //-   a.list-group-item(ng-repeat="product in products" ng-click="showList($index)")
    //-     span.badge.margin-top-lg {{product.items.length}}
    //-     | {{product.category}}
    //- .list-group
    //-   .list-group-item.title Categories
    //-   a.list-group-item(ng-repeat="product in products" ng-click="showList($index)")
    //-     span.badge.margin-top-lg {{product.items.length}}
    //-     | {{product.category}}

    accordion(close-others="true")
      accordion-group(heading="WIRING")
        .list-group
          a.list-group-item(ng-repeat="product in wiring" ng-click="showList1($index)")
            span.badge.margin-top-lg {{product.items.length}}
            | {{product.category}}
      accordion-group(heading="PTICAL DEVICE")
        .list-group
          a.list-group-item(ng-repeat="product in ptical" ng-click="showList2($index)")
            span.badge.margin-top-lg {{product.items.length}}
            | {{product.category}}
      accordion-group(heading="CABLE")
        .list-group
          a.list-group-item(ng-repeat="product in cable" ng-click="showList3($index)")
            span.badge.margin-top-lg {{product.items.length}}
            | {{product.category}}
      accordion-group(heading="OTHER")
        .list-group
          a.list-group-item(ng-repeat="product in other" ng-click="showList4($index)")
            span.badge.margin-top-lg {{product.items.length}}
            | {{product.category}}
  .col-md-8
    .panel.panel-default
      .panel-heading
        .panel-title Productions {{category}}
      .panel-body.product-list
        .item(ng-repeat="item in list").pull-left
          img(ng-src="{{item.image}}")
          .name
            a(href="#") {{item.name}}