.row
  .col-md-4.category
    accordion(close-others="true")
      accordion-group(heading="Production Category 1")
        | This content is straight in the template.
      accordion-group(heading="Production Category 2")
        | This content is straight in the template.
      accordion-group(heading="Production Category 3")
        | This content is straight in the template.
      accordion-group(heading="Production Category 4")
        | This content is straight in the template.
      accordion-group(heading="Production Category 5")
        | This content is straight in the template.
      accordion-group(heading="Production Category 6")
        | This content is straight in the template.
      accordion-group(heading="Production Category 7")
        | This content is straight in the template.
  .col-md-8
    .panel.panel-default
      .panel-heading
        .panel-title Productions
      .panel-body