.margin-bottom-lg
  span Productions
  span.margin-left-md >> 
  span.margin-left-md
    a(ng-href="#/productions/{{category}}") {{category}}
  span.margin-left-md >> 
  span.margin-left-md {{production}}

hr
  
iframe(ng-src="{{url}}" width="100%")